
  <div class="header">
    <div class="container">
      <div class="intro">
        <h2> Explore polls everywhere in the world </h2>
        <p>Check a lot of interesting polls from different cultures</p>


        <!-- <form action="" method="POST"> -->
        <input type="text" id="searchbar"
          placeholder="Search by names, cities, topics or anything comes to your mind" /><input type="text"
          id="searchbtn" value="" />
        <!-- </form> -->


      </div>

    </div>
  </div>



  <div class="poll">
    <div class="container">

      <div class="our-work">

        <div class="card-vote">
          <div class="photo">
            <div class="info">
              <div class="noIndex2Image">
                <!-- <img src="../assets/person.png"> -->
              </div>

              <div class="noIndex3Name">
                <p>Mohamed Gamal</p>
              </div>
            </div>

          </div>
          <div class="infoPoll">
            <p class="durationPoll">Ends in 2 days</p>
            <p class="namePoll">2020 SH.A Student Union Elections</p>
          </div>
          <button class="vote">Vote Now</button>
        </div>

        <div class="card-vote">
          <div class="photo">
            <div class="info">
              <div class="noIndex2Image">
              </div>

              <div class="noIndex3Name">
                <p>Mohamed Gamal</p>
              </div>
            </div>
          </div>
          <div class="infoPoll">
            <p class="durationPoll">Ends in 2 days</p>
            <p class="namePoll">2020 SH.A Student Union Elections</p>
          </div>
          <button class="vote">Vote Now</button>
        </div>


        <div class="card-vote">
          <div class="photo">
            <div class="info">
              <div class="noIndex2Image">
              </div>

              <div class="noIndex3Name">
                <p>Mohamed Gamal</p>
              </div>
            </div>
          </div>
          <div class="infoPoll">
            <p class="durationPoll">Ends in 2 days</p>
            <p class="namePoll">2020 SH.A Student Union Elections</p>
          </div>
          <button class="vote">Vote Now</button>
        </div>

        <div class="card-vote">
          <div class="photo">
            <div class="info">
              <div class="noIndex2Image">
              </div>

              <div class="noIndex3Name">
                <p>Mohamed Gamal</p>
              </div>
            </div>
          </div>
          <div class="infoPoll">
            <p class="durationPoll">Ends in 2 days</p>
            <p class="namePoll">2020 SH.A Student Union Elections</p>
          </div>
          <button class="vote">Vote Now</button>
        </div>

        <div class="card-vote">
          <div class="photo">
            <div class="info">
              <div class="noIndex2Image">
              </div>

              <div class="noIndex3Name">
                <p>Mohamed Gamal</p>
              </div>
            </div>
          </div>
          <div class="infoPoll">
            <p class="durationPoll">Ends in 2 days</p>
            <p class="namePoll">2020 SH.A Student Union Elections</p>
          </div>
          <button class="vote">Vote Now</button>
        </div>



        <div class="card-vote">
          <div class="photo">
            <div class="info">
              <div class="noIndex2Image">
              </div>

              <div class="noIndex3Name">
                <p>Mohamed Gamal</p>
              </div>
            </div>
          </div>
          <div class="infoPoll">
            <p class="durationPoll">Ends in 2 days</p>
            <p class="namePoll">2020 SH.A Student Union Elections</p>
          </div>
          <button class="vote">Vote Now</button>
        </div>

        <div class="card-vote">
          <div class="photo">
            <div class="info">
              <div class="noIndex2Image">
              </div>

              <div class="noIndex3Name">
                <p>Mohamed Gamal</p>
              </div>
            </div>
          </div>
          <div class="infoPoll">
            <p class="durationPoll">Ends in 2 days</p>
            <p class="namePoll">2020 SH.A Student Union Elections</p>
          </div>
          <button class="vote">Vote Now</button>
        </div>

        <div class="card-vote">
          <div class="photo">
            <div class="info">
              <div class="noIndex2Image">
              </div>

              <div class="noIndex3Name">
                <p>Mohamed Gamal</p>
              </div>
            </div>
          </div>
          <div class="infoPoll">
            <p class="durationPoll">Ends in 2 days</p>
            <p class="namePoll">2020 SH.A Student Union Elections</p>
          </div>
          <button class="vote">Vote Now</button>
        </div>

        <div class="card-vote">
          <div class="photo">
            <div class="info">
              <div class="noIndex2Image">
              </div>

              <div class="noIndex3Name">
                <p>Mohamed Gamal</p>
              </div>
            </div>
          </div>
          <div class="infoPoll">
            <p class="durationPoll">Ends in 2 days</p>
            <p class="namePoll">2020 SH.A Student Union Elections</p>
          </div>
          <button class="vote">Vote Now</button>
        </div>





      </div>
    </div>
  </div>
