<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <!-- <meta name="viewport" content="width=device-width initisl-scal=1.0"> -->
  <title>MyPolls</title>
  <link rel="stylesheet" href="../styles/normalize.css">
  <link rel='stylesheet' type='text/css' href='../styles/styleMyPolls.css'>

</head>

<body>
  <div id="navbar">
  <div class="container">  
    <div id="image"> <img src="../assets/logo.svg"></div>
    <div class="link">

      <ul>
        <li ><span><a href="#">Explore</span></a></li>
        <li class="active"><a href="#"><span>My Polls</span></a></li>
        <li><a href="#"><span>About</span></a></li>
      </ul>

    </div>
    
    <input type="text" id="searchbarMYBOLL"
    placeholder="Search by names, cities, topics or anything co…" /><input type="text"
    id="searchbtnMYBOLL" value="" />
    <button id="mybttMYBOLL">Create Poll</button>

<!-- <div class="btt"><button id="mybtt"> Create poll</button></div> -->

    </div>
  </div>

    <div class="contribute">
        <div class="container">
            <div class="count">
              <p>2 polls</p>
            </div>
            <div class="poll">   
            <div class="our-work">  
        <div class="card">
            <div class="photo">
              <div class="info">
                <div class="noIndex2Image">
                </div>
  
                <div class="noIndex3Name">
                  <p>Mohamed Gamal</p>
                </div>
              </div>
              
            </div>
            <div class="infoPoll">
              <p class="durationPoll">Ends in 2 days</p>
              <p class="namePoll">2020 SH.A Student Union Elections</p>
            </div>
            <button class="vote">Vote Now</button>
          </div>

          
        <div class="card">
            <div class="photo">
              <div class="info">
                <div class="noIndex2Image">
                </div>
  
                <div class="noIndex3Name">
                  <p>Mohamed Gamal</p>
                </div>
              </div>
              
            </div>
            <div class="infoPoll">
              <p class="durationPoll">Ends in 2 days</p>
              <p class="namePoll">2020 SH.A Student Union Elections</p>
            </div>
            <button class="vote">Vote Now</button>
          </div>
          </div>
        </div>
    </div>
    </div>

    <script src="../js/file.js"></script>
    </body>
    </html>